
.card-container{
    background-color: #95dada;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 7px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
    transform: translateZ(0);
}

.card-container:hover{
    transform: scale(1.05);
}